/* Navbar.css */
.navbar-container {
  width: 100%;
}
.navbar-custom {
  color: #ffffff;
}
.menu-icon {
  color: #ffffff;
}
.drawer-container {
  width: 250px;
}
.logo-img {
  width: 100%;
  padding: 20px;
}
.list-item {
  color: #343a40;
}
.list-item-text {
  font-size: 16px;
}
.link-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font: inherit;
  outline: inherit;
}

/* Modal specific styles */
.modal-content {
  width: 400px; /* Aumentar el ancho del modal */
  height: 200px;
  margin: auto;
  border-color: aqua;
  border-radius: 15px;
  background-color: #0c6d33; /* Cambiar el color de fondo a azul */
  color: #ffffff; /* Cambiar el color del texto a blanco */
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-title {
  margin: auto;
  font-size: 1.5em; /* Aumentar el tamaño del título */
}
.modal-body {
  text-align: center;
  font-size: 1.2em; /* Aumentar el tamaño del texto del cuerpo */
}

@media (max-width: 768px) {
  .navbar-custom {
    padding: 10px;
  }
  .drawer-container {
    width: 100%;
  }
  .modal-content {
    width: 90%;
  }
}