.audit-calendar-container {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  
  .calendar-container {
    flex: 0 1 40%;
    margin-right: 20px;
  }
  
  .audit-details-container {
    flex: 1 1 60%;
    overflow-y: auto;
  }
  
  .audit-accordion {
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
 
  
  .audit-accordion .MuiAccordionSummary-root {
    background-color: #f5f5f5;
    border-radius: 12px 12px 0 0;
  }
  
  .audit-accordion .MuiAccordionDetails-root {
    background-color: #fafafa;
    border-radius: 0 0 12px 12px;
    padding: 16px;
  }
  
  .audit-details-container ul {
    list-style: none;
    padding-left: 0;
  }
  
  .audit-details-container li {
    margin: 5px 0;
  }
  
  .red {
    color: red;
  }
  
  .orange {
    color: orange;
  }
  
  .green {
    color: green;
  }
  